.background {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 50px auto 100px auto;
    grid-template-areas:
      'countdown'
      'logo'
      'brand'
      'title'
      'description'
      'subscribe'
      'social ';
    justify-items: center;
    align-items: center;
    color: var(--white);
  }
  /* Estilos para pantallas pequeñas */
@media (max-width: 576px) {
  /* Estilos aquí */
}

/* Estilos para pantallas medianas */
@media (min-width: 576px) and (max-width: 992px) {
  /* Estilos aquí */
}

/* Estilos para pantallas grandes */
@media (min-width: 992px) {
  /* Estilos aquí */
}
